@charset "utf-8";
/* CSS Document */

.portfolio3_contents {
	width: 100vw;
	height: 110vh;
}
.swiper-container {
	width: 100vw;
	height: 100vh;
	background-color: #303030;
	top: 70px;
	margin: 0 auto;
	padding: 0;
}
.swiper-slide img {
	width: 80vw;
	height: auto;
	margin: 0 auto;
	padding: 0;
}


