@charset "utf-8";
/* CSS Document */

.portfolio3_contents {
	width: 100vw;
	height: 110vh;
}
.swiper-container {
	width: 100vw;
	height: 100vh;
	background-color: #303030;
	top: 70px;
	margin: 0 auto;
	padding: 0;
}
.swiper-slide {
	width: 80vw;
	height: auto;
	margin: 0 auto;
	padding: 0;
}
.swiper-slide img {
	width: 80vw;
	height: auto;
	margin: 0 auto;
	padding: 0;
}

.pf_detail_article {
	max-width: 960px;
	margin: 0 auto;
}
h3.pf_detail_title {
    text-align: center;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 30px;
	padding: 0;
}
.pf_detail_article p{
	text-align: left;
	margin: 0 auto;
	padding: 0;
}
