@charset "utf-8";

/* ===== Base =====*/

body {
	margin: 0;
	padding: 0;
    max-width: 100%;
    background-color: #f6f8ee;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
    font-weight: 500;
	color: #707070;
}
#container {
	width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "meiryo";
  font-weight: 300;
  color: #707070;
}
a {
	text-decoration: none;
	color: #707070;
}
h2.contents {
	font-size: 30px;
	text-align: center;
	margin: 70px 0 0 0;
	padding: 0;
}
.underline {
	border-bottom: 3px solid #74b3d2;
}
.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #74b3d2;
  border: solid 2px #74b3d2;
  border-radius: 4px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #74b3d2;
  color: white;
}


/*===== header =====*/
#header_fixed {
 /*  header固定  */
 position: fixed;
 top: 0px;
 left: 0px;
 width: 100vw;
 height: 64px;
}
header {
 width: 100vw;
 height: 64px;
 display: flex;
 justify-content: space-between;
 background-color: #f6f8ee;
 opacity: 0.8;
 /*background: linear-gradient(to bottom, #f6f8ee, transparent);*/

}
header h1.header_logo {
  width: 177px;
  height: 64px;
  margin: 12px 10px;
  padding-left: 20px;
　padding-top: 10px;
  font-size: 28px;
  font-weight: bold;
  /*font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;*/
  text-align: center;
  color: #707070;
}
header h1.header_logo a:visited {
	color: #707070;
}

nav.header_list {
	height: 64px;
}
nav.header_list ul {
	list-style: none;
	display: flex;
	align-items: center;
}
nav.header_list ul li{
	margin-right: 50px;
	text-align: center;
}
nav.header_list ul li a:visited {
	color: #707070;
}
nav.header_list ul li a:hover {
	border-bottom: 2px solid #74b3d2;
}
#nav-input {
	display: none;
}
#nav-open {
    display:none;
  }

/*===== top =====*/
#top {
  width: 100vw;
  height: 90vh;
}
h1.top_logo {
    width: 100%;
    height: 50%;
	font-size: 100px;
	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
}
.line1 {
	position: relative;
	width: 100vw;
	margin: 0;
	padding: 0;
}
.line1 img {
	width: 100vw;
	height: auto;
	margin: 0;
	padding: 0;
}
.wave1 {
    display: block;

}
.wave2 {
	position: absolute;
	top: 31px;
}

/*===== portfolio =====*/
#portfolio {
	width: 100vw;
    height: 90vh;
}
#portfolio h2.contents {
	width: auto;
	height: auto;
	text-align: center;
}
.portfolio_list {
	width: auto;
	max-width:960px;
	margin: 0 auto;
	text-align: center;
	display: flex;
}

.portfolio_contents {
  width: calc(33.3% - 10px);
  margin: 30px 5px 5px 5px;
}
.imgwrap {
	overflow: hidden;
	width: 300px;
	height: 300px;
	background: #333;
	margin: 0;
	padding: 0;
}
.imgwrap a img {
	display: block;
	transition-duration: 0.3s;
	width: 300px;
}
.imgwrap a img:hover {
	transform: scale(1.1);
	transition-duration: 0.3s;
	opacity: 0.6;
}


img.wave3 {
	width: 100vw;
	height: auto;
	margin: 0;
	padding: 0;
}

/*===== about =====*/
#about {
	width: 100vw;
    height: 90vh;
}
.about_contents {
    width: auto;
 	max-width:960px;
	margin: 0 auto;
	text-align: center;
	display: -webkit-flex;
    display: flex;
}
article {
	max-width: 350px;
	width: 50%;
	margin: 50px 90px 30px 95px;
	padding: 0;
}
article h3 {
	text-align: left;
	font-size: 24px;
	/*font-weight: bold;*/
	margin: 0;
	padding: 0;
}
article h4 {
	text-align: left;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.about_p {
	text-align: left;
	font-size: 16px;
	margin: 20px 0 0 0;
	padding: 0;
}
article button {
	margin: 50px 0 0 0;
	padding: 0;
	width: 215px;
    height: 46px;
    border-radius: 10px;
    border: solid 1px #74b3d2;
	background-color: clear;
	color: #74b3d2;
}
article button:hover {
	opacity: 0.5;
	cursor: pointer;
}

img.profile {
	max-width: 400px;
	width: 50%;
	margin: 30px 80px 30px 0px;
}
img.wave4 {
	width: 100vw;
	height: auto;
	margin: 0;
	padding: 0;
}

/*===== contact =====*/
#contact {
	width: 100vw;
    height: 50vh;
}
.contact_contents {
 	max-width:960px;
	margin: 0 auto;
	text-align: center;
/*    display: -webkit-flex;
    display: flex;*/
}
article.contact_p {
	max-width: 960px;
	margin: 20px auto 0 auto;
	padding: 0;
	/*background-color: tomato;*/
	text-align: center;
}
#input {
	width: 500px;
	margin:0 auto;
	text-align: center;
	display:flex;
	flex-direction: column;
}
#input input {
	width: 300px;
	height: 40px;
	margin:10px 0 10px 0;
	color: #303030;
}
#input textarea {
	width: 500px;
	height: 200px;
	margin:10px 0 10px 0;
	color: #303030;
}
#input button {
	margin: 10px auto auto 0;
	padding: 0;
	width: 215px;
    height: 46px;
    border-radius: 10px;
    border: solid 1px #74b3d2;
	background-color: clear;
	color: #74b3d2;
}
#input button:hover {
	opacity: 0.5;
	cursor: pointer;
}


/*===== footer =====*/
footer {
	width: 100vw;
    height: 100px;
	/*margin: 50px auto 0 auto;*/
	padding: 0;
	background-color: #000000;
    text-align: center;
}
footer p{
	margin: 50px auto;
	color: #fff;
	background-color:tomato;
}


/*===== responsive design =====*/
/*===== for iPad 　min560px - max960px =====*/
@media screen and (max-width: 959px) {
	body{
		background-color:tomato;
	}
	/*  header min560px-max960px  */

	/*  top min560px-max960px  */
	h1.top_logo {
    width: 100%;
    height: 50%;
	font-size: 80px;
    }
	/*  portfolio min560px-max960px  */
	#portfolio {
		min-height: 1300px;
	}
	.portfolio_list {
	display: flex;
    flex-direction: column;
    align-items: center;
    }
	.portfolio_contents {
		margin: 20px auto 0 auto;
		width: auto;
	}
	.portfolio_contents h3 {
		width: 300px;
		margin: 0 auto;
		
	}
	.imgwrap a img {
		width: 300px;
	}

	/*  about min560px-max960px  */
	#about {
		min-height: 1000px;
	}
	.about_contents {
    display: flex;
	flex-direction: column;
    align-items: center;
	}
	.about_contents article{
		order: 2;
	}
	img.profile {
		order: 1;
		margin: 20px auto 0 auto;
	}
}

/*===== for Smartphone =====*/
@media screen and (max-width: 559px) {
	body {
		background-color: skyblue;
	}
	header h1.header_logo {
/*		margin: 15px auto 10px auto;
		font-size: 20px;*/
		display: none;
	}
	/*  top max559px  */
	h1.top_logo {
	height: 60%;
	font-size: 60px;
    }
	/*  contact max559px  */
	/*article.contact_p {
	width: 300px;
	margin: 20px auto 0 auto;
	padding: 0;
	/*background-color: tomato;
	text-align: center;
}*/

	
/*-----humburger menu-----*/	
/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}
/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
	margin-top: 20px;
/*	margin-right: 30px;*/
	margin-left: 30px;
}
/*ハンバーガーアイコン*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}
/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}
/*中身*/
.header_list{
  overflow: auto;
  position: fixed;
  top: 64px;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);/*-105%*/
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ .header_list {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}


}
