@charset "utf-8";
/* CSS Document */
#about2_top {
	width: 100vw;
	height: 20vh;
	margin: 64px auto 0px auto;
	padding: 0;
}
.ability_list {
	width: auto;
	max-width:940px;
	margin: 0 auto;
	text-align: center;
	display: flex;
}

.ability_contents {
  width: calc(33.3% - 10px);
  margin: 30px 5px 5px 5px;
}
.ability_contents a img {
	width: auto;
	max-width: 100px;
	margin: 0 auto;
	padding: 0;
}
.ability_contents　p {
	width: 80%;
	margin: 0;
	padding: 0;
}

/*===== responsive design =====*/
/*===== for iPad 　min560px - max960px =====*/
@media screen and (max-width: 959px) {
.ability_list {
	max-width: 600px;
	margin: 0 auto;
}
	.ability_contents a img {
	width: auto;
	max-width: 100px;
	margin: 0 auto;
	padding: 0;
}
}

/*===== for Smartphone =====*/
@media screen and (max-width: 599px) {
.ability_list {
	max-width: 300px;
	width: auto;
	display: flex;
	text-align: center;
	flex-direction: column;
    align-items: center;
    }
	.ability_contents {
    width: auto;
    margin: 30px;
    }
}
